* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  padding-top: 85px;
}

.navbar {
  position: fixed;
  z-index: 10;
  width: 100vw;
  max-width: 100%;
  border-bottom: 1px white solid;
}

.cta {
  padding: 164px 0 82px 0;
  background-image: url(/images/cta-hero.jpg);
  background-size: cover;
}

.cta h1 {
  color: #f8f9fa;
}

.cta .cta-form {
  width: 100vw;
  max-width: 100%;
  background-image: url();
}

.cta .cta-form input::-webkit-input-placeholder {
  text-align: center;
}

.cta .cta-form input:-ms-input-placeholder {
  text-align: center;
}

.cta .cta-form input::-ms-input-placeholder {
  text-align: center;
}

.cta .cta-form input::placeholder {
  text-align: center;
}

#features {
  text-align: center;
}

#features p {
  padding: 30px 0 50px 0;
}

#features .item {
  padding: 35px 10px;
}

#features .item:hover .icon {
  color: #0d6efd;
}

#features .item .icon {
  padding-bottom: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#video {
  padding-bottom: 50px;
}

#video .iframe-container iframe {
  width: 100vw;
  max-width: 100%;
}

#pricing {
  width: 80vw;
  max-width: 100%;
  margin: auto;
}

#pricing h1 {
  margin-bottom: 50px;
}

footer {
  padding: 30px;
}

footer h3,
footer p {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .cta .cta-form {
    width: 50vw;
  }
  #video .iframe-container iframe {
    width: 100vw;
    height: 360px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .cta h1 {
    color: #212121;
  }
  .cta .cta-form {
    width: 25vw;
  }
  #features {
    max-width: 80%;
    margin: 0 auto;
    text-align: left;
  }
  #features .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
    padding: 0;
  }
  #features .item .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  #features .item .desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #video .iframe-container {
    padding-top: 50px;
  }
  #video .iframe-container iframe {
    width: 720px;
    height: 360px;
  }
}
/*# sourceMappingURL=style.css.map */